:root {
  --main: #91def0;
  --main_off: #89cede;
  --s1: #a2e0ef;
  --s2: #b4e3ee;
  --s3: #c6e6ee;
  --s4: #e2f0f3;
  --s1_off: #95ccd9;
  --s2_off: #a7d4de;
  --s3_off: #b7d4db;
  --s4_off: #d7e7eb;
}
